services:
  wiki:
    build: .
    container_name: bot
    env_file:
      - .env
    ports:
      - "${APP_PORT:-3000}:${APP_PORT:-3000}"
    depends_on:
      - db
    entrypoint: ["/bin/sh", "/app/entrypoint.sh"]
    volumes:
      - .:/app
    networks:
      - bot-network
  db:
    image: postgres:alpine
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: wiki
    ports:
      - "${DB_CONNECT_PORT:-5432}:${DB_CONNECT_PORT:-5432}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - bot-network

volumes:
  pgdata:

networks:
  bot-network:
    external: true
